body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000; /* Black bars for letterboxing */
}

canvas {
    display: block;
    touch-action: none; /* Prevents zooming/scrolling on mobile taps */
    -webkit-user-select: none; /* Disables selection on iPhone */
    user-select: none;
    margin: 0 auto; /* Centers the canvas */
}
